@tailwind base;
@tailwind components;
@tailwind utilities;

html{
scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
}
body::-webkit-scrollbar{
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #73F8AB;
  outline: none;
}
#HTML{
width:80%;
background:#f06529;
}
#CSS{
width:70%;
background:#264de4;
}
#Javascript{
width:60%;
background:#f0db4f;
}
#NodeJs{
width:55%;
background:#68a063;
}
#ReactJs{
width:80%;
background:#61dbfb;
}
#TailwindCSS{
width:50%;
background:#36B7F0;
}
#CPP{
width:45%;
background:#044F88;
}
#Github{
width:55%;
background:#8F00FF;
}
#NextJs{
width:55%;
background:#FF69B4;
}
#Blogger{
width:90%;
background:#FC4F08;
}
.all-projects::-webkit-scrollbar{
  width: 4px;
}
.all-projects::-webkit-scrollbar-thumb {
  background-color: #73F8AB;
  outline: none;
}
.article-body ol{
  list-style: decimal;
  margin: 0;
  padding: 0px 0px 0px 16px;
}
.article-body h1{
  font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 800;
    margin:5px 0px 5px 0px;
    text-transform: capitalize;
}
.article-body h2{
  font-size: 1.35rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 700;
    margin:5px 0px 5px 0px;
    text-transform: capitalize;
}
.article-body h3{
  font-size: 1.20rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 600;
    margin:5px 0px 5px 0px;
    text-transform: capitalize;
}
.article-body h4, h5, h6 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.article-body ol li{
  margin: 0;
}
/* Set font family and font size */
.article-body table {
  font-size: 14px;
  margin:5px 0px 5px 0px;
}

/* Set background color for table header row */
.article-body thead tr {
  background-color: #f5f5f5;
}

/* Set font weight and text color for table header cells */
.article-body thead th {
  font-weight: bold;
  color: #333;
}

/* Set background color for even rows */
.article-body tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Set hover state for rows */
.article-body tbody tr:hover {
  background-color: #ddd;
}

/* Set border spacing and border-collapse */
.article-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* Set border color and width for table cells */
.article-body td, .article-body th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Remove border from first table cell in each row */
.article-body td:first-child, .article-body th:first-child {
  border-left: none;
}

/* Remove border from last table cell in each row */
.article-body td:last-child, .article-body th:last-child {
  border-right: none;
}

/* Remove border from last row */
.article-body tbody tr:last-child td {
  border-bottom: none;
}

@font-face{
    font-family: 'Quantify';
    src:url('/fonts/Quantify.ttf')
}
@font-face{
    font-family: 'Jeko-Bold';
    src:url('/fonts/jeko-bold.ttf')
}
@font-face{
    font-family: 'Jeko-Medium';
    src:url('/fonts/jeko-medium.ttf')
}