@tailwind base;
@tailwind components;
@tailwind utilities;

html{
scroll-behavior:smooth;
}

body{
    background-color: #2D2F33;
    overflow-x:hidden;
}
body::-webkit-scrollbar{
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #73F8AB;
  outline: none;
}
.all-projects::-webkit-scrollbar{
  width: 4px;
}
.all-projects::-webkit-scrollbar-thumb {
  background-color: #73F8AB;
  outline: none;
}

@font-face{
    font-family: 'Quantify';
    src:url('/fonts/Quantify.ttf')
}
@font-face{
    font-family: 'Jeko-Bold';
    src:url('/fonts/jeko-bold.ttf')
}
@font-face{
    font-family: 'Jeko-Medium';
    src:url('/fonts/jeko-medium.ttf')
}